* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  body {
    padding: 60px;
  }
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;  
  }
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  .card img {
    width: 100%;
    max-height: 250px;  
  }
.reset{color: white;
  background-image: linear-gradient(#0c0c0c, #222121);
  background-repeat: no-repeat;
  width: 15em;
  border: 6px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans","Source Sans Pro",Helvetica,sans-serif;
  font-size: 1em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1em;
}
.reset:hover{
cursor:pointer;
background-color: red;
}
.delete{
margin-top: 1em;
  color: white;
  background-image: linear-gradient(#0c0c0c, #222121);
  background-repeat: no-repeat;
  width: 15em;
  border: 6px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans","Source Sans Pro",Helvetica,sans-serif;
  font-size: 1em;
  letter-spacing: 0.5em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12%;
  margin: auto;
  margin-top: 1em;
}
.delete:hover{
cursor:pointer;
background-color: red;}

.NavbarItems {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 80px;
}

.NavbarItems h1 {
  color: black;
  padding: 10px;
  font-size: 25px;
}
.logo {
  width: 20%;
  float: left;
}
.navbar-ul {
  width: 80%;
  float: right;
  list-style: none;
  margin: 0px;
  padding: 10px;
}
li {
  display: inline;
  text-align: center;
  justify-content:right;
  list-style: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 80px;
}
.nav-links {
  color: black;
  text-decoration: none;
}
.nav-links-mobile {
  color: black;
  text-decoration: none;
}
li:hover {
  background-color:black;
}
li:hover .nav-links {
  color: black;
}
li:hover .nav-links-mobile {
  color: black;
}


